html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Rubik", san-serif;
  color: #4F5665;
  font-weight: 400;
  background-color: white;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", san-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.button--primary {
  font-weight: 700;
  background-color: #F53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid #F53838;
}
.button--rounded {
  border-radius: 10px;
  padding: 17.5px 65px;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 90%;
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  transform: translate(-50%, 50%);
  z-index: 1;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
}
.header-signup {
  font-weight: 500;
  padding: 13px 45px;
  border-radius: 100rem;
  border-color: #F53838;
  border: 1px solid;
  color: #F53838;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
  color: #0B132A;
}
.hero-image {
  position: absolute;
  top: 50%;
  transform: translate(40px, -50%);
  right: 0;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.4;
}
.hero-desc {
  line-height: 1.875;
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 95px;
}
.intro-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.07);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
.intro-title {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.intro-text {
  color: #4F5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-title {
  color: #0B132A;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  margin-bottom: 20px;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 21px;
  font-size: 14px;
}
.feature-list {
  list-style-type: none;
}

.plan {
  padding: 80px 0 150px;
  background-color: #F8F8F8;
}
.plan-header {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 176px;
}
.plan-item {
  border-radius: 10px;
  border: 2px solid #dddddd;
  background: #FFF;
  padding: 80px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.plan-details {
  margin-bottom: 50px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2.1428571429;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: auto;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #F53838;
}
.plan-item.is-active .button, .plan-item:hover .button {
  background-color: #F53838;
  color: white;
}

.network .heading {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.network-image {
  margin-top: 155px;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B132A;
  font-weight: bold;
}

.text {
  line-height: 1.875;
}

.text-medium {
  font-weight: 500;
}

/*# sourceMappingURL=app.css.map */
