.feature{
    padding-bottom: 130px;
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0 170px;
    }

    &-desc{
        margin-bottom: 23px;
    }

    &-title{
        color: #0B132A;
        font-family: Rubik;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 142.857% */
        margin-bottom: 20px;
    }

    &-item{
        display: flex;
        align-items: center;
        gap: 0 10px;
        margin-bottom: 21px;
        font-size: 14px;
    }

    &-list{
        list-style-type: none;
    }

}
